body {
  margin: 0;
  padding: 0;
  background-color: beige;
}

header {
  height: 70px;
  width: 100%;
}

.black-header {
  height: 60%;
  background-color: black;
  width: 90%;
  display: inline-block;
}

.white-header {
  height: 70%;
  background-color: white;
  display: inline-block;
  align-items: center;
  width: 90%;
}

.section-link {
  display: inline-block;
  background-color: aliceblue;
  width: 90px;
  height: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1200px) {
  .media1200 {
    display: none;
  }

}

@media screen and (min-width: 1000px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    height: 96px;
    width: 60px;
    background-color: brown;
    float: left;
    display: inline-block;
}
}



