body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  height: 106px;
  width: 100%;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.square-font {
  font-family: 'Bai Jamjuree', sans-serif;
}

.rounded-font {
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1200px) {
  main {
    width: 100%;
  }
}

.black-header {
  height: 30%;
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

.black-header-left > * {
  text-decoration: none;
  margin-right: 10px;
  color: #979797;
  font-size: 0.8rem;
}

.black-header-left > *:hover,
.black-header-right > *:hover {
  color: white;
}


.black-header-right > * {
  text-decoration: none;
  margin-right: 10px;
  color: #979797;
  font-size: 0.8rem;
}

.white-header {
  height: 70%;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.white-header a {
  text-transform: uppercase;
  color: rgb(170, 170, 170);
  text-decoration: none;
}

.section-link {
  display: inline-block;
  height: 20px;
  margin-right: 20px;
}

.logo {
  position: relative;
}

.header-logo {
  max-width: 80%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .media1200 {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .logo {
    display: none;
  }
}

.big-news {
  display: grid;
  height: 60vh;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  padding: 5px;
  grid-gap: 5px;
}

.cover {
  height: 100%;
  width: 100%;
  background: url(../resources/image_gradient.png);
  background-size: 100% 100%;
  position: absolute;
}

.orange-hue {
  height: 100%;
  width: 100%;
  background: url(../resources/cover_gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  mix-blend-mode: lighten;
}

.top-part {
  height: 20%;
  box-sizing: border-box;
  margin: 20px;
  position: relative;
  z-index: 1;
}

.top-part .top-part-logo {
  background: url(../resources/tnw.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  max-width: 50%;
}

.top-part span {
  color: white;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  right: 0;
}

.big-news .bottom-part {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.bottom-part > span {
  display: inline-block;
  width: 90%;
  color: white;
  font-size: 3.7rem;
  position: relative;
}

.bottom-part .writer {
  font-size: 0.9rem;
  color: rgb(120, 120, 120);
}

.bottom-part-small {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.bottom-part-small > span {
  font-size: 2.2rem;
  color: white;
}

.bottom-part-small .writer {
  font-size: 0.7rem;
  color: rgb(120, 120, 120);
  margin-top: 10px;
}

.bottom-part-small .section-info {
  color: white;
}

.double-height {
  grid-row: 1 / 3;
}

.cover-header {
  position: relative;
}

.gradient {
  background: url(../resources/image_gradient.png);
  background-size: 100% 100%;
  position: relative;
  z-index: 4;
}

.section-header {
  margin: 0;
  padding: 0;
  color: #f42;
  font-size: 1.8rem;
  display: inline-block;
}

.latest-news {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.latest-cell .bottom-part {
  bottom: 0;
  width: 80%;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.bottom-part a {
  color: #000;
  text-decoration: none;
}

.latest-cell-grey {
  font-weight: normal;
  font-size: 0.8rem;
  margin-top: 5px;
}

.latest-cell-grey a,
.latest-cell-grey {
  color: rgb(120, 120, 120);
}

.latest-cell > .image-container {
  height: 65%;
}

.latest-cell > .image-container > img {
  max-width: 100%;
  height: auto;
}

.section-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  color: #f42;
}

.section-open > h2 {
  font-size: 1.6rem;
  font-weight: black;
}

.funding-rounds-cell a {
  text-decoration: none;
}

.section-open > .right > .small-open {
  color: #f42;
  border-right: 2px solid #f42;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.section-open > div > .last {
  border-right: none;
}

.funding-rounds-cell > .top {
  display: block;
}

.funding-rounds-cell .top-top {
  background-color: #f42;
  height: 30%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.funding-rounds-cell .top-top > p,
.funding-rounds-cell .top-bottom p {
  margin: 0;
  margin-left: 90px;
}

.funding-rounds-cell .top-top > p {
  color: white;
  font-weight: 600;
}

.funding-rounds-cell .top-bottom > p {
  color: black;
  font-size: 0.7rem;
  font-weight: bold;
}

.funding-rounds-cell .top-bottom > .value {
  color: black;
  font-size: 1.2rem;
}

.funding-rounds-cell .top-bottom > .description {
  color: grey;
  font-size: 0.7rem;
}

.funding-rounds-cell .top-bottom {
  background-color: #ffebe7;
  height: 70%;
  padding-top: 15px;
  padding-bottom: 20px;
}

.funding-rounds-cell > .middle {
  background-color: #fffaf8;
  border-bottom: 1px solid rgba(255, 68, 34, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 0.9rem;
  padding-bottom: 20px;
}

.funding-rounds-cell > .middle > a {
  width: 100%;
  display: inline-block;
  height: 30%;
  color: rgb(80, 80, 80);
  text-decoration: none;
  margin-top: 10px;
}

.funding-rounds-cell > .bottom {
  background-color: #fffaf8;
  padding: 15px;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.funding-rounds-cell > .bottom > a {
  font-size: 0.85rem;
}

.funding-rounds-cell > .bottom > .news {
  color: rgb(80, 80, 80);
  line-height: 1.5;
}

.funding-rounds-cell > .bottom > .origin {
  color: rgb(120, 120, 120);
}

#tricolor-bottom {
  padding-bottom: 25px;
}

.funding-rounds-cell > .logo-funding-cell {
  width: 75px;
  height: 75px;
  background-color: #f42;
  position: absolute;
  margin: 8px;
}

.funding-img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .funding-rounds-cell > .bottom > a {
    font-size: 0.7rem;
  }

  .funding-rounds-cell > .bottom {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .funding-rounds-cell > .middle > a {
    font-size: 0.8rem;
  }

  .funding-rounds-cell > .middle {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
  }

  .section-open {
    flex-direction: column;
    align-items: flex-start;
  }

  .section-open .right {
    margin-top: 10px;
  }

  .section-open .right .first {
    padding-left: 0;
  }
}

#news-2 {
  border: 2px solid red;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .latest-news {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .latest-news {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr;
  }

  .latest-news .image-container {
    width: 75px;
    height: 75px;
    display: inline-block;
  }

  .latest-cell > .image-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .latest-news .bottom-part {
    display: inline-block;
    width: 60%;
    position: absolute;
    top: 0;
    font-size: 0.85rem;
    margin-left: 10px;
  }

  .latest-cell {
    position: relative;
  }
}

.section-wrap {
  padding: 20px;
}

@media screen and (max-width: 800px) {
  header {
    height: 48px;
  }

  .black-header {
    display: none;
  }

  .white-header {
    height: 100%;
  }

  .big-news {
    height: calc(100vh - 48px);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .double-height {
    grid-row: 1 / 2;
  }
}

.funding-rounds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  grid-gap: 20px;
}

@media screen and (max-width: 1000px) {
  .funding-rounds {
    grid-template-columns: repeat(3, 1fr);
  }

  .media1000 {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .funding-rounds {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    height: 100%;
    width: 80px;
    background-image: linear-gradient(to right bottom, rgb(204, 0, 153), rgb(255, 68, 34) 85%);
    float: left;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo:hover {
    background-image: url(../resources/home-1.gif);
    background-size: cover;
  }

  .white-header,
  .black-header {
    width: calc(100% - 80px);
  }

  #cover-1 > .orange-hue {
    display: none;
  }

  #cover-1 .top-part-logo {
    background: none;
  }

  .bottom-part > span {
    font-size: 2rem;
  }

  .bottom-part-small > span {
    font-size: 1.2rem;
  }
}

.most-popular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.most-popular-cell .header {
  position: absolute;
  height: 100px;
  width: 80%;
  bottom: 0;
  z-index: 3;
  color: white;
  padding: 13px;
  padding-bottom: 30px;
}

.most-popular .text-by {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.most-popular .text-message {
  font-size: 1.2rem;
  font-weight: bold;
}

.most-popular .author-1 {
  font-size: 0.8rem;
  color: gray;
  margin-top: 10px;
}

.most-popular-cell .latest {
  height: 96px;
  display: flex;
  color: #f42;
  border-top: 2px solid white;
}

.most-popular-cell .latest .left {
  width: 75%;
  color: #f42;
  background-color: #ffebe7;
  padding: 10px 20% 10px 10px;
  box-sizing: border-box;
}

.most-popular-cell .latest .left p {
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.85rem;
}

.most-popular-cell .latest .left span {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.most-popular-cell .latest .right {
  width: 25%;
  background-color: blue;
  height: 100%;
}

.right .img-most-popular {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.most-popular-cell .img-container {
  height: 250px;
  position: relative;
  background-size: cover;
  background-position: 50%;
}

@media screen and (max-width: 800px) {
  .most-popular-cell .img-container {
    height: 60vh;
  }
}

#most-popular-img-big-1 {
  background-image: url(../resources/most-popular-image-1.png);
}

#most-popular-img-big-2 {
  background-image: url(../resources/most-popular-image-2.png);
}

#most-popular-img-big-3 {
  background-image: url(../resources/most-popular-img-3.jpg);
}

#most-popular-img-big-4 {
  background-image: url(../resources/most-popular-4.jpg);
}

#most-popular-img-big-5 {
  background-image: url(../resources/most-popular-5.jpg);
}

#most-popular-img-big-6 {
  background-image: url(../resources/most-popular-6.png);
}

#most-popular-img-big-7 {
  background-image: url(../resources/most-popular-7.jpg);
}

#most-popular-img-big-8 {
  background-image: url(../resources/most-popular-8.png);
}

.most-popular-cell .news .news-link {
  display: block;
  color: rgb(80, 80, 80);
  line-height: 1.5;
  font-size: 0.85rem;
  padding: 5px 0 5px 0;
  text-decoration: none;
  margin-left: 5px;
}

.most-popular-cell .news ul {
  color: #f42;
  font-size: 0.8rem;
  padding-left: 15px;
}

.most-popular-cell .news ul li {
  border-bottom: 1px solid rgb(170, 170, 170);
  margin: 0;
  padding: 0;
}

.most-popular-cell .news .news-link:hover {
  color: black;
}

@media screen and (max-width: 1000px) {
  .most-popular {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .most-popular {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.latest-deals {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.latest-deals-cell .img-container {
  display: block;
  height: 75%;
  position: relative;
}

.latest-deals-cell .img-container img {
  width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
}

.latest-deals-cell a {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2;
  display: block;
  text-decoration: none;
  margin: 5px 0 0 0;
}

.latest-deals-cell a:hover {
  color: #f42;
  text-decoration: underline;
  text-decoration-color: rgba(255, 68, 34, 0.3);
}

.latest-deals-cell .price-p {
  display: block;
  margin: 3px 0 0 0;
  padding: 0;
}

.latest-deals-cell .price-p .price {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: rgb(120, 120, 120);
}

.latest-deals-cell .price-p .new-price {
  font-size: 1rem;
  color: rgb(80, 80, 80);
}

.discount-tag {
  height: 75px;
  width: 75px;
  position: absolute;
  background-image: url(../resources/deals_ribbon.svg);
  right: 0;
}

.discount-number {
  transform: rotate(45deg);
  position: relative;
  top: 20px;
  left: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .latest-deals {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .latest-deals {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .latest-deals-cell .img-container {
    float: left;
    height: 70px;
    width: 70px;
    margin-right: 10px;
  }

  .latest-deals-cell .img-container img {
    height: 100%;
    object-fit: cover;
  }

  .latest-deals-cell .price-p .price {
    font-size: 0.7rem;
    margin-right: 7px;
  }

  .latest-deals-cell .price-p .new-price {
    font-size: 0.9rem;
  }

  .latest-deals-cell span {
    font-size: 0.75rem;
  }

  .latest-deals-cell .discount-tag {
    display: none;
  }
}

footer {
  background-color: black;
  height: 250px;
}

footer > .social {
  background-color: #131313;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-button {
  border-radius: 50%;
  margin-left: 7px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #333;
  z-index: 1;
}

.icons {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../resources/icons.svg);
  background-size: 1296px 1296px;
  position: relative;
  top: 12px;
  left: 12px;
}

.twitter-icon {
  background-position: -1024px -1024px;
}

.facebook-icon {
  background-position: -272px -272px;
}

.youtube-icon {
  background-position: -1280px -1280px;
}

.instagram-icon {
  background-position: -416px -416px;
}

.pinterest-icon {
  background-position: -672px -672px;
}

.feed-icon {
  background-position: -816px -816px;
}

.mail-icon {
  background-position: -576px -576px;
}

.social-button:hover {
  background-color: inherit;
  height: 36px;
  width: 36px;
  border: 2px solid #333;
}

.social-button:hover .icons {
  top: 10px;
  left: 10px;
}

.contact-container {
  margin-top: 20px;
}

.contact-container > .contact-link {
  display: inline-block;
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.65rem;
  margin-left: 10px;
}

.contact-container > .contact-link:hover {
  color: white;
}

.white-header a:hover {
  color: black;
}

footer > .social > .social-buttons-container {
  display: inline-block;
}

footer > .credits {
  background-color: black;
  height: 30%;
  color: #aaa;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 35px;
}

.credits-text > b {
  color: red;
}

.credits-tnw,
.credits-stackpath {
  height: 10px;
}

.contact-container {
  display: inline-block;
}

/* HOVERS */

.funding-rounds-cell > .middle > a:hover {
  color: black;
}

/* IDS */

#cover-1 {
  background: url(../resources/cover-1.png);
  background-size: cover;
  background-position: 50%;
}

#cover-2 {
  background: url(../resources/cover-2.jpg);
  background-size: cover;
  background-position: 50%;
}

#cover-3 {
  background: url(../resources/cover-3.jpg);
  background-size: cover;
  background-position: 50%;
}
